@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --green:rgb(254, 183, 52);
  --black:#2c2c54;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}
*::selection{
  background:var(--green);
  color:#fff;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}
section{
  padding:2rem 9%;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--green);
  color:#fff;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}
.btn:hover{
  background:var(--black);
}
.heading{
  text-align: center;
  color:var(--black);
  text-transform: uppercase;
  padding:1rem;
  font-size: 3.5rem;
  padding-bottom: 2rem;
}
.heading span{
  color:var(--green);
  text-transform: uppercase;
}
.header-1{
  background:#eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}

.logo{
  color:var(--black);
  font-weight: bolder;
  font-size: 3rem;
}

.logo i{
  padding-right: .5rem;
  color:var(--green);
}

.header-1 .search-box-container{
  display: flex;
  height:5rem;
}
.header-2{
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  position: relative;
}
.header-2.active{
  position: fixed;
  top:0; left: 0; right:0;
  z-index: 10000;
}
.header-2 .navbar a{
  padding:.5rem 1.5rem;
  font-size: 2rem;
  border-radius: .5rem;
  color:var(--black);
}
.header-2 .navbar a:hover{
  background:var(--green);
  color:#fff;
}
.header-2 .icons a{
  font-size: 2.5rem;
  color:var(--black);
  padding-left: 1rem;
}

.header-2 .icons a:hover{
  color:var(--green);
}

#menu-bar{
  font-size: 3rem;
  border-radius: .5rem;
  border:.1rem solid var(--black);
  padding:.8rem 1.5rem;
  color:var(--black);
  cursor: pointer;
  display: none;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .image{
  flex:1 1 40rem;
  padding-top: 5rem;
}

.home .image img{
  width:100%;
}

.home .content{
  flex:1 1 40rem;
}

.home .content span{
  font-size: 3rem;
  color:#666;
}

.home .content h3{
  font-size: 5rem;
  color:var(--black);
}

.banner-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.banner-container .banner{
  flex:1 1 40rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.banner-container .banner img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.banner-container .banner .content{
  position: absolute;
  top:50%; left: 4%;
  transform: translateY(-50%);
}

.banner-container .banner .content h3{
  font-size: 3rem;
  color:var(--black);
}

.banner-container .banner .content p{
  font-size: 2rem;
  color:#333;
}

.banner-container .banner:hover img{
  transform:scale(1.2) rotate(-5deg);
}

/*---------images  start -----------------*/
.carousel {
  width: 100%;
  height: 50%;

}

.carousel-inner img {
  height: 100vh;

}

/*---------images  end -----------------*/

.service-col i {
  font-size: 3rem;
  color:orange;
}

/* ---------------img----------------*/

.img{
  width: 100%;
  height: 80%;
}
/* ---------------------- About Section ------------------- */
.about {
  width: 90%;
  align-items: center;
  margin: auto;
  margin-top: 90px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color:black;
  border-radius: 20px;
}
.about li {
  font-size: 22px;
}
 

.about h1 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
}

.about-right  {
margin-right: 8%;
}


/* ------------------------- get it now -------------------------- */

.get-it-now {
font-family: sans-serif;
  width: 90%;
  text-align: center;
  background-color: orange;
  color:black;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}



/* --------------------- team section --------------------- */


.team {
  width: 75%;
  text-align: center;
  margin: auto;
  /* border: 2px solid black; */
  margin-top: 100px;
  padding: 30px;
  font-size: 20px;
}

.team-col {
  margin: 4px;
  overflow: hidden;
  text-align: center;
  line-height: 1px;
  margin-top: -30px;
  border: 1px solid orange;
  border-radius: 7px;
}

.team-col img {
  width: 220px;
  height: 225px;
  padding: 4px;
}
.team-col button {
  margin: 20px;
  padding: 20px;
  height: 47px;
  width: 200px;
  border-radius: 30px;
  background-color: black;
  display: flex;
  border: none;
}


.team-col button .fa-brands {
  font-size: 35px;
  padding: 5px;
  margin: auto;
  color: orange;
  margin-top: -27px;
}


/* ------------------------------ review section -------------------------------- */

.review {
  width: 90%;
  background-color: orange;
  border-radius: 15px;
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  padding: 4%;
  padding-bottom: 2%;

}

.review hr {
  border: 1px solid black;
  width: 20%;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 20px;
}

.review .row-1 .review-col .para {
  width: 80%;
  margin: auto;
  text-align: start;
  margin-top: -30px;
  margin-bottom: 40px;
  background-color:orange;
  padding: 20px;
  border-radius: 10px;
  
}

.review-col .review-content img {
  width: 85px;
  height: 85px;
  border-radius: 60%;
}

.review .review-col .review-content {
  margin-top: 70px;
  display: flex;
  margin-left: 60px;

}

.review .review-col .review-content .content {
  width: 80%;
  text-align: start;
  margin-right: 20px;
  margin-bottom: 2%;
  padding: 5px;
  cursor: pointer;
  display: flex;

}


.content {
  flex-direction: column;
  width: 10%;
  margin-top: 5px;
}

.content h3 {
  font-size: 25px;
  text-align: start;
  margin-left: 10px;
}

.content p {
  font-size: 18px;
  text-align: start;
  margin-left: 10px;
}
/* ------------------------------- contact section --------------------------------------- */
.contact h1 {
  text-align: center;
  margin: auto;
}

.contact hr {
  width: 20%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.contact {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  background-color: orange;
  border-radius: 10px;
  color: black;
  padding: 5%;
}

.contact-col {
  margin-left: 20px;
}

.content-col p {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  text-align: start;
  font-size: 20px;
}
.contact button {
  color: black;
  border: 1px solid orange;
  position: relative;
  left: 60rem;
}
.contact-col input,
.contact-col textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 19px;
  outline: none;
  border: 1px solid #fff;
}
/* ---------------- service section ------------------ */
.service {
  width: 33.3%;
  align-items: center;
  margin: auto;
  padding-top: 100px;
}
.service h1 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
.border{
  border-radius: 1.5px solid transprarent;
}
.border:hover{
  border: 1.5px sold black;
}
p {
  font-size: 28px;
  font-weight: 300px;
  padding: 15px;
  text-align: center;
}
.row-1 {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.service-col h3 {
  text-align: center;
}
.service-col {
  background-color:whitesmoke;
  padding: 30px 15px 15px 10px;
  margin: 25px;
  border-radius: 15px;
}
.service-col i {
  font-size: 3rem;
  color: black;
}

/* ---------------img----------------*/
.img{
  width: 100%;
  height: 80%;
}
/* ---------------------- About Section ------------------- */
.about {
  width: 90%;
  align-items: center;
  margin: auto;
  margin-top: 90px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color:orange;
  border-radius: 20px;
}
.about li {
  font-size: 22px;
}
 

.about h1 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
}
.about-right  {
margin-right: 8%;
}
/* ------------------------- get it now -------------------------- */

.get-it-now {
font-family: sans-serif;
  width: 90%;
  text-align: center;
  background-color:orange;
  color:black;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* --------------------- team section --------------------- */
.team {
  width: 75%;
  text-align: center;
  margin: auto;
  /* border: 2px solid black; */
  margin-top: 100px;
  padding: 30px;
  font-size: 20px;
}
.team-col {
  margin: 4px;
  overflow: hidden;
  text-align: center;
  line-height: 1px;
  margin-top: -30px;
  border: 1px solid orange;
  border-radius: 7px;
}

.team-col img {
  width: 220px;
  height: 225px;
  padding: 4px;
  /* border: 2px solid rgb(172, 168, 168); */
}
.team-col button {
  margin: 20px;
  padding: 20px;
  height: 47px;
  width: 200px;
  border-radius: 30px;
  background-color: black;
  display: flex;
  border: none;
}
.team-col button .fa-brands {
  font-size: 35px;
  padding: 5px;
  margin: auto;
  color:orange;
  margin-top: -27px;
}


/* ------------------------------ review section -------------------------------- */

.review {
  width: 90%;
  background-color: orange;
  border-radius: 15px;
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:black;
  font-family: 'Ubuntu', sans-serif;
  padding: 4%;
  padding-bottom: 2%;

}
.review hr {
  border: 1px solid black;
  width: 20%;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 20px;
}

.review .row-1 .review-col .para {
  width: 80%;
  margin: auto;
  text-align: start;
  margin-top: -30px;
  margin-bottom: 40px;
  background-color:whitesmoke;
  padding: 20px;
  border-radius: 10px
}

.review-col .review-content img {
  width: 85px;
  height: 85px;
  border-radius: 60%;
}

.review .review-col .review-content {
  margin-top: 70px;
  display: flex;
  margin-left: 60px;

}
.review .review-col .review-content .content {
  width: 80%;
  text-align: start;
  margin-right: 20px;
  margin-bottom: 2%;
  padding: 5px;
  cursor: pointer;
  display: flex;

}
.content {
  flex-direction: column;
  width: 10%;
  margin-top: 5px;
}

.content h3 {
  font-size: 25px;
  text-align: start;
  margin-left: 10px;
}

.content p {
  font-size: 18px;
  text-align: start;
  margin-left: 10px;
}
/* ------------------------------- contact section --------------------------------------- */

.contact h1 {
  text-align: center;
  margin: auto;
}

.contact hr {
  width: 20%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.contact {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  background-color:orange;
  border-radius: 10px;
  color: black;
  padding: 5%;
}

.contact-col {
  margin-left: 20px;
}

.content-col p {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  text-align: start;
  font-size: 20px;
}


.contact .btn:hover {
  color: #fff;
  border: 1px solid black;
  position: relative;
  left: 60rem;
}

.contact-col input,
.contact-col textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 19px;
  outline: none;
  border: 1px solid black;
}




/* ------------------------------------- Media Query ------------------------------------------- */


@media screen and (max-width: 950px) {

  header {
    margin: 0;
    padding: 20px;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }

  .menu {
    display: block;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .menu .line {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 6px 0;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: rgb(52, 52, 55);
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    z-index: 999;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar ul li a{
    margin-bottom: 12px;
  color: red;
  }

  .carousel,
  .carousel img {
    height: 70vh;
  }

  .service {
    margin-top: 50px;
    padding: 20px;

  }

  .service h1 {
    font-size: 2.1rem;
  }

  .service p {
    font-size: 14px;
  }

  .row-1 {
    display: block;
  }

  .service-col {
    margin: 10px;
  }

  .service-col h1 {
    font-size: 20px;
  }

  .service-col p {
    font-size: 14px;
  }

  .about img {
    display: none;
  }

  .about h1 {
    font-size: 30px;
  }

  .about p {
    font-size: 15px;
  }

  .about h3 {
    text-align: center;
  }


  .get-it-now {
    padding: 20px;
  }

  .get-it-now h1 {
    font-size: 25px;
    font-weight: 500;
  }

  .get-it-now h3 {
    font-size: 18px;
    font-weight: 500;
  }

  .get-it-now p {
    font-size: 15px;
  }

  .get-it-now .btn {
    width: 90%;
  }

  .team {
    margin-top: 30px;
  }

  .team h1 {
    font-size: 30px;
  }
  .team p {
    font-size: 16px;
  }
  .team-col {
    margin-top: 20px;
  }
  .review p {
    font-size: 18px;
  }
  .review-content img,
  .review-content h3,
  .review-content p {
    display: none;
  }
  .gallery img {
    margin: 10px;
  }
  .contact .row-1 {
    margin-top: 40px;
    text-align: center;
  }
}
/* media queries  */
@media(max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media(max-width:991px){
  .header-1,
  .header-2{
    padding:2rem;
  }
  section{
    padding:2rem;
  }
}
@media(max-width:768px){

  #menu-bar{
    display: initial;
  }

  .header-2 .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    background:var(--black);
    padding:1rem 2rem;
    display: none;
  }

  .header-2 .navbar.active{
    display: initial;
  }

  .header-2 .navbar a{
    font-size: 2.5rem;
    display: block;
    text-align: center;
    background:#fff;
    padding:1rem;
    margin:1.5rem 0;
  }

  .home .content{
    text-align: center;
  }

  .home .content h3{
    font-size: 4rem;
  }

  .deal{
    background-position: left;
  }

  .deal .content{
    max-width: 100%;
    text-align: center;
  }

  .deal .content .count-down{
    justify-content: center;
  }

  .contact form .inputBox input{
    width:100%;
  }
  .newsletter h3{
    font-size: 2.2rem;
  }
}
@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .heading{
    font-size: 3rem;
  }

  .header-1{
    flex-flow: column;
  }
  .header-1 .search-box-container{
    width:100%;
    margin-top: 2rem;
  }

  .logo{
    font-size: 4rem;
  }
 .deal .content .count-down .box h3{
    font-size: 4rem;
  }
 .deal .content .count-down .box span{
    font-size: 1.5rem;
  }

}


